<div class="new_job">
    <h2 class="title">GetAJob</h2>
    <p class="sub_title">New job</p>

    <%= form_for [@company, @job] do |f| %>
        <div class="field">
            <a class="input_title">Description</a>
            <br />
            <%= f.text_area :description, required: true %>
            <br />
            <br>

            <a class="input_title">Age</a>
            <br />
            <%= f.number_field :age %>
            <br />
            <br>

            <a class="input_title">Gender</a>
            <br />
            <%= f.select :gender, options_for_select([["", 0], ["Female", 1], ["Male", 2]]) %>
            <br />
            <br>

            <a class="input_title">Education</a>
            <br />
            <%= f.select :education, options_for_select([["", 0], ["Primary education", 1], ["Secondary education", 2], ["Higher education", 3]]) %>
            <br />
            <br>

            <a class="input_title" href=<%= new_category_path%> >Category</a>
            <br />
            <%= f.collection_select :category, Category.all, :id, :name %>
            <br />
        </div>

        <div class="button_wrapper">
            <%= link_to 'Back', company_pages_home_path, :class => "button button_gray" %>
            <%= f.submit "Create" , :class => "button button_highlight"%>
        </div>
    <% end %>
</div>