<div class="show_job">
    <h2 class="title">GetAJob</h2>
    <h3 class="sub_title">Job</h3>
    <div class="job">
        <h3>
            <% if current_company.nil? %>
                <a style="margin: 0; font-size: 1.5rem; text-decoration: none; color: #3F3D4E;" href="/company_informations/<%= @job.company.company_information.id %>"><%= @job.company.company_information.name %></a><br>
            <% end %>
            Job <%= @job.id %>
        </h3>
        <br>
        <p>
            <a class="field_title">Description:</a><br>
            <%= @job.description %>
        </p>
        <p>
            <% if not @job.age.nil? %>
                <a class="field_title">Age:</a><br>
                <%= @job.age %>
            <% end %>
        </p>
        <p>
            <% if @job.gender == 1 %>
                <a class="field_title">Gender:</a><br>
                Female
            <% elsif @job.gender == 2 %>
                <a class="field_title">Gender:</a><br>
                Male
            <% end %>
        </p>
        <p>
            <% if @job.education == 1 %>
                <a class="field_title">Education:</a><br>
                Primary education
            <% elsif @job.education == 2 %>
                <a class="field_title">Education:</a><br>
                Secondary education
            <% elsif @job.education == 3 %>
                <a class="field_title">Education:</a><br>
                Higher education
            <% end %>
        </p>
        <p>
            <a class="field_title">Category:</a><br>
            <%= Category.find(@job.category_id).name %>
        </p>
        
        <br>
        <% if not current_company.nil? %>
            <%= link_to 'Back', company_pages_home_path, :class => "button button_gray" %>
            <% if @job.status %>
                <%= link_to 'Unavailable',  job_update_status_path(@job),  method: :put, data: { confirm: 'Are you sure?' }, :class => "button button_red" %>
            <% else %>
                <%= link_to 'Available',  job_update_status_path(@job),  method: :put, data: { confirm: 'Are you sure?' }, :class => "button button_green" %>
            <% end %>
            <%= link_to "Delete", @job, method: :delete, data: { confirm: "You sure?" }, :class => "button button_highlight" %>
        <% elsif not current_user.nil? %>
            <%= link_to 'Back', user_pages_home_path, :class => "button button_gray" %>
            <% if Interest.where(job_id: @job.id, user_id: current_user.id).first.nil? %>
                <%= link_to 'Show interest',  job_interests_path(@job, user_id: current_user.id),  method: :post, data: { confirm: 'Are you sure?' }, :class => "button button_highlight" %>
            <% end %>    
        <% end %>
    </div>
</div>

<% if not current_company.nil? %>
    <% if not @job.interests.blank? %>
        <div class="interests">
            <div class="card">
                <h3>
                    Users interested
                </h3>
                
                <br>
                <table>
                    <% @job.interests.each do |interest| %>
                        <tr>
                            <td><%= link_to interest.user.user_information.name, interest.user.user_information %></td>
                            <td><font color="green">Avaliable</font></td>
                        </tr>
                    <% end %>            
                </table>
            </div>
        </div>
    <% end %>
<% end %>