<div class="sign_up">
  <h2 class="title">GetAJob</h2>
  <p class="sub_title">Sign up</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="field">
      <a class="input_title">Email</a>
      <br />
      <%= f.email_field :email, autofocus: true%>
      <br />
      <br>

      <a class="input_title">Password</a>
      <br />
      <%= f.password_field :password, autocomplete: "off"%>
      <br />
      <br>

      <a class="input_title">Password confirmation</a>
      <br />
      <%= f.password_field :password_confirmation, autocomplete: "off"%>
      <br />
    </div>

    <div class="button_wrapper">
      <%= link_to 'Back', :back, :class => "button button_gray" %>
      <%= f.submit "Sign up" , :class => "button button_highlight"%>
    </div>
  <% end %>
</div>